.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
.Renviron
.RProfile
.httr-oauth
.devcontainer

*.html
.vscode

.github/dependabot.yml

docs
inst/docs
inst/doc
inst/eduard.R
scripts

/paper/paper.pdf
revdep/checks.noindex
revdep/library.noindex
data.sqlite